# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List open-source development environments
- Examples of Python code for arithmetic

Some of the popular languages that Data Scientists use are:

    1. Python
    2. SQL
    3. R

Some of the commonly used libraries used by Data Scientists include:

    1. Dplyr
    2. Ggplot2
    3. Caret

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter Notebook|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply, then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60

200/60.

3.3333333333333335

## Author:  Kevin Dumity